* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 20px;
}

h1, h2 {
    font-family: sans-serif;

}

li {
    list-style: none;
}

.fancy-header {
    font-size: 50px;
    margin-bottom: 0;
    transition: all ease-in-out 1s;
}

.fancy-header:hover {
    color: red;
}

header p {
    color: #838383;
}

header, section {
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom: 1px solid #000000;
}

main {
    padding: 20px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}


.photos-wrapper {
    display: flex;
    max-width: 100vw;
}

.photo-wrapper {
    flex: 1 0;
    min-width: 1px;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.photos-wrapper .photo-wrapper img {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    transition: all ease-in-out 1s;
    filter: grayscale(1);
}

.photo-wrapper:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}

/*YOU CAN TARGET ATTRIBUTES WITH [BRACKETS]*/
[data-features] {
    opacity: .8;
}

.features-container li:nth-child(2) {
    color: red;
    list-style: none;
}

td:nth-child(2) {
    color: blue;
}

/* UNIVERSAL STYLE CLASSES */
.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}