.page-wrapper.mobile-menu-open .mobile-menu-wrapper {

}

nav.navigation-wrapper {

}

.dropdown-parent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dropdown-toggle {
    display: flex;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.5);
    top: 100%;
    right: 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropdown-menu p {
    text-align: center;
}

[data-dropdown="menu"] {
    pointer-events: none;
}
