.column {
    justify-content: start;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
    row-gap: 40px;
}

.container {
    flex: 1;
    height: 100%;
    width: 100%;
}

h3 {
    border: 5px solid goldenrod;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px;
    cursor: pointer;
}

p {
    border: 5px solid darkorchid;
    padding: 20px;
    border-radius: 10px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 80%;
}