#page-wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -15px -10px 25px rgba(0, 0, 0, 0.3);
    transition: all ease .5s
}

.user-card:hover {
    scale: 1.1;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 9999px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.user-card h2 {
    font-size: 26px;
    font-weight: 600;
}