img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover, a:visited {
    color: #706e6e;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
}