:root {
    --col-border: 2px solid dodgerblue;
    --row-border: 2px solid firebrick;
    --content-border: 2px solid lawngreen;
    }

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: var(--col-border);
    }

.row {
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 20px;
    padding: 0 20px;
    border: var(--row-border);
    }

.row-rev {
    flex-direction: row-reverse;
    border: var(--row-border);
    }

.col {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    border: var(--col-border);
    }

.col-rev {
    flex-direction: column-reverse;
    border: var(--col-border);
    }

.content {
    border: var(--content-border);
    }

.justify-start {
    justify-content: start;
    }

.justify-center {
    justify-content: center;
    }

.justify-end {
    justify-content: end;
    }